<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="form-alumno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `form-alumno`
     * Componente que va a capturar los datos del alumno
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormAlumno extends Polymer.Element {
      static get is() { return 'form-alumno'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'form-alumno'
          }
        };
      }
    }

    window.customElements.define(FormAlumno.is, FormAlumno);
  </script>
</dom-module>
