<link rel="import" href="../polymer/polymer-element.html">

<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="form-alumno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <h1>[[title]]</h1>

    <paper-input label="{{nameLabel}}" no-label-float value="{{name}}"></paper-input>

    <paper-button on-click="agregarTask">{{buttonName}}</paper-button>


  </template>

  <script>
    /**
     * `form-alumno`
     * Componente que va a capturar los datos del alumno
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FormAlumno extends Polymer.Element {
      static get is() { return 'form-alumno'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          name: {
            type: String,
            value: ''
          },
          buttonName: {
            type: String,
            value: ''
          }
        };
      }
    }

    window.customElements.define(FormAlumno.is, FormAlumno);
  </script>
</dom-module>
